<div class="container">
    <div class="row">
        @for (paises of pais; track paises; let i = $index) 
        {
            <div class="col">
                <div class="card">

                    <img [src]="paises.flags.png" alt="{{paises.name.common}}" class="flags">
                    <div>
                        <strong>Name</strong>
                        <p>{{paises.name.common}}</p>
                    </div>
                    <div>
                        <button class="btn btn-primary" (click)="SaveToLocalStorage(i)">Agregar</button>
                        <i class="fa-solid fa-circle-minus" (click)="retrieveFromLocalStorage()"></i>
                    </div>
                </div>
            </div>
        }
    </div>
</div>